In [ ]:
# GREATEST OF NUMBER IN A GIEVN 2 ARRAY 

n=input()
n=int(n)
arr1=[]

for i in range(n):
  inp=input()
  inp=int(inp)

  arr1.append(inp)

arr2=[]

for i in range(n):
  inp=input()
  inp=int(inp)

  arr2.append(inp)

import numpy as np

ans1=np.max(arr1)
ans2=np.max(arr2)

if ans1>ans2:
  print(ans1)
else:
  print(ans2)

3
5
7
10
15
2
5
15

In [1]:
# last digit
n=input()
n=int(n)
ans=n%10
print(ans)

90
0

In [2]:
# important PRINT THE LAST 2ND DIGIT

n=input()
n=int(n)
count=0
while(n>0):
  

  rem=n%10
  count=count+1
  if count==2:
    print(rem)
    break
  #print(rem,end=" ")
  n=n//10

145761559598
5

In [3]:
#sum of last 2 digit

n=input()
n=int(n)
count=0

digit=[]
while(n>0):
  dig=n%10
  n=n//10
  digit.append(dig)

sum=digit[0]+digit[1]
print(sum)

145761559598
17

In [5]:
#NO OF EVEN NO AND ODD NO IN A ARRAY  


n=5
inp=[]
for i in range(n):
  a=input()
  a=int(a)
  inp.append(a)

count=0
import numpy as np 
inp=np.abs(inp)


for i in inp:
  if i%2==0:                        # len(n) - count = odd number 
    count=count+1
print("No of even number",count)

print("No of odd number",len(inp)-count)

-5
2
30
51
5
No of even number 2
No of odd number 3

In [ ]:
print(inp)

[45  9  7 42  6]

In [7]:
# prime number OR NOT 

num = 75

if num > 1: 

   for i in range(2, num):  
       if (num % i) == 0: 
           print(num, "is not a prime number") 
           break
   else:
     
       print(num, "is a prime number") 
  
else: 
   print(num, "is not a prime number")

75 is not a prime number

In [12]:
# FACTORIAL OF GIVEN NO

import numpy as np

def fact(n):
  n=np.abs(n)

  if n == 0 :
    return 1 
    
  if n is 1:
    return 1
  
  else:
    return n * fact(n-1)

fact(-0)

1

In [14]:
#FIBONIC OF NTH 

def fibonic(n):

  a=0
  b=1
  print(a,end=" ")
  print(b,end=" ")

  if n==0:
    return 0
  elif n== 1:
    return 1

  else:
    for i in range(2,n):

      c=a+b
      print(c,end=" ")
      a=b
      b=c
    print()
    return print("the number at",n,"is",c)


fibonic(10)

0 1 1 2 3 5 8 13 21 34
the number at 10 is 34

In [21]:
#  NTH PRIME NUMBER 

def prime(n):
  l=[]
  for i in range(2,n*n):
    for j in range(2,i):
      if i % j == 0:
        break 
    else:
      l.append(i)
  return l,l[n-1]
  
    
p_list,n_th=prime(7)


print(p_list)
print()
print(n_th)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

17

In [22]:
# all digits count 


def count(n):

  count=0
  while(n>0):
    dig=n%10
    n=n//10
    count=count+1
  return count

count(523)

3

In [23]:
# UNIQUE DIGITS ( NO DUPLICATES )

import numpy as np

def count(n):
  if n==0:
    return 1
  if n<0:
    n=np.abs(n)
  

  ll=set()
  while(n>0):
    dig=n%10
    n=n//10
    ll.add(dig)
    #print(ll)
  return len(ll)

  

count(-244)

2

In [24]:
# COUNT THE NO OF GIVEN DIGIT IN A ARRRAY 


def unique(n,digg):
  chk=[]

  while(n>0):
    dig=n%10
    n=n//10
    chk.append(dig)
  
  return chk.count(digg)

unique(1111646,6)

2

In [27]:
# SUM OF ALL N DIGITS 

import numpy as np

def summ(n):
  sum=0
  if n ==0:
    return 0
  if n<0:
    n=np.abs(n)
    return summ(n)
  while(n>0):
    dig=n%10
    n=n//10
    sum=sum+dig
  return sum
summ(-154)

10

In [37]:
# sum of even digits in n ARRAY 

def summ_even(n):
  sum=0
  odd_sum=0
  if n==0:
    return 0
  if n<0:
    import numpy as np
    n=np.abs(n)
    return summ_even(n)
  while(n>0):
    dig=n%10
    n=n//10
    if dig%2==0:
      sum=sum+dig
    else:
      odd_sum=odd_sum + dig
  return sum,odd_sum

s_even,s_odd = summ_even(213)   # this wont work with -0 and 0
print("Even sum",s_even)
print("odd sum",s_odd)

Even sum 2
odd sum 4

In [43]:
# to check the number is palindrome 



def palindrome(n):
  if n==0:
    return print("its palindrome")
  if n<0:
    import numpy as np 
    n=np.abs(n)
    return palindrome(n)
  chk_palindrome=[]
  while(n>0):
    dig=n%10
    n=n//10
    chk_palindrome.append(dig)
  
  
  orginal=list(reversed(chk_palindrome))
  
  if chk_palindrome == orginal:
    return print("Its palindrome")
  else:
    return print("No its not palindrome")

palindrome(1001)

Its palindrome

In [45]:
# PRINT THE SECOND WORD TO UPPER CASE 
 
def second_word(word):

  text=word
  text=text.split()
  return text[1].upper()

second_word("Ganesh aB. rake harish")

'AB.'

In [ ]:
# Python code to reverse a string 
# using loop 

def reverse(s):
  str = "" 
  for i in s:
    str = i+str
  return str.lower()

s = "Geeksforgeeks"


print (s.lower()) 

print ("The reversed       ",end="") 
print (reverse(s))

geeksforgeeks
The reversed       skeegrofskeeg

In [46]:
def reversee(s):
  s=s[::-1]    # start stop step ,, by default start is 0 ( blank ), stop is length of string(blank ) , -1 start from reverse
  
  return s
reversee("geeksforgeeks")

'skeegrofskeeg'

In [118]:
# most frequent digit 


def mfd(n):
  if n == 0:
    return 0 
  if n<0:
    import numpy as np
    n=np.abs(n)
  new=[]
  while(n>0):
    dig=n%10
    n=n//10
    new.append(dig)
  return new
    
A1=mfd(7624)
A2=mfd(1203)
A3=mfd(2046)
A4=mfd(5043)

ans=A1+A2+A3+A4
print(ans)



from collections import Counter
def most_frequent(List):
  occurence_count = Counter(List)
  print(occurence_count.most_common())
  return dict(occurence_count.most_common()),occurence_count.most_common(1)[0][0]




aans_chk,direct_ans=most_frequent(ans)
print(aans_chk)


check=list(aans_chk.values())

values_view = aans_chk.values()
value_iterator = iter(values_view)
first_value = next(value_iterator)



def get_key(val):
  g=[]
  for key, value in my_dict.items():
    if val == value:
      g.append(key)
  
  return (g)


my_dict =aans_chk

if len(set(check)) == len(check):
  print(direct_ans)

else:
  ini_dict = aans_chk
  rev_dict = {}
  for key, value in ini_dict.items():
    rev_dict.setdefault(value, set()).add(key)
  dup_values = [key for key, values in rev_dict.items() 
							if len(values) > 1]
  print("dup",dup_values)
  final_=[]
  for i in (dup_values):
    final_.append(get_key(i))
  print("hyth",final_)
  
  print("the ans is",max(max(final_)))

[4, 2, 6, 7, 3, 0, 2, 1, 6, 4, 0, 2, 3, 4, 0, 5]
[(4, 3), (2, 3), (0, 3), (6, 2), (3, 2), (7, 1), (1, 1), (5, 1)]
{4: 3, 2: 3, 0: 3, 6: 2, 3: 2, 7: 1, 1: 1, 5: 1}
dup [3, 2, 1]
hyth [[4, 2, 0], [6, 3], [7, 1, 5]]
the ans is 7

In [75]:

ini_dict = {1: 7, 2: 7, 4: 1, 3: 1}
 
rev_dict = {} 

for key, value in ini_dict.items(): 
	rev_dict.setdefault(value, set()).add(key) 
	
result = [key for key, values in rev_dict.items() 
							if len(values) > 1]

initial_dictionary {1: 7, 2: 7, 4: 1, 3: 1}
duplicate values [7, 1]

In [89]:

def get_key(val):
  g=[]
  for key, value in my_dict.items():
    if val == value:
      g.append(key)
  print(max(g))


my_dict ={1: 7, 2: 7, 4: 1, 3: 1}

In [67]:
a=['10','20','52']
b=' '.join(a)
print(b)

ValueError: ignored

In [48]:

from collections import Counter 

def most_frequent(List): 
	occurence_count = Counter(List) 
	return occurence_count.most_common(1)[0][0]
	
List = [3,3,2,1,2, 1, 2, 2, 1, 3]

print(most_frequent(List))

2

In [ ]:
from collections import Counter
lists=['A','A','A','B','B','a','ganesh?']
chk=Counter(lists)
chk.most_common()[0][0]

'A'

In [ ]:
s = 'ganesh raj'
np.prod([i+1 for i,v in enumerate(s) if v in ['a','e','i','o','u']])

72

In [ ]:
def ppp(s):

  def chk(n):
    if n<10:
      return n
    else:
      new_sum=0
      while(n>0):
        dig=n%10
        n=n//10
        new_sum=new_sum+dig
      c=chk(new_sum)
      return c

  s=s.split()
  tot=0
  for i in s:
    tot=len(i)+tot
  
  if tot<10:
    return tot
  else:
    ans=chk(tot)
    return ans
  

ppp("Ganesh raj is good boy")

9

In [ ]:
a="1234"
b="56"

a=int(a)
b=int(b)
c=a+b
print(str(c))

1290

In [ ]:
# Identify possible words 

input_dict= ['goo', 'bat', 'me', 'eat', 'goal', 'boy', 'run'] 
charSet = ['e', 'o', 'b', 'a', 'm', 'g', 'l'] 


def chk(s,letters):
  word=letters
  leng=len(s)
  count=0
  for i in s:
    if i in word:
      count=count+1
  if count==leng:
    return True
  
ans=[]
j=-1
for i in input_dict:
  j=j+1
  i=list(i)
  if chk(i,charSet):
    ans.append(input_dict[j])
for i in ans:
  print(i,end=" ")

goo me goal

In [ ]:
"""
If the given number is 582109, 
the Sum of Powers of Digits = = (5 raised to the power of 6) + (8 raised to the power of 5) + (2 raised to the power of 4) + (1 raised to the power of 3)
+ (0 raised to the power of 2) + (9 raised to the power of 1) = 15625 + 32768 + 16 + 1 + 0 + 9 = 48419

"""

In [ ]:
import numpy as np

a=00000000

num=np.abs(a)
a=str(a)
a_=str(num)
a=list(a)
leng=len(a)

ans=[]
j=0

for i in range(leng,0,-1):
  a[j]=int(a[j])
  
  c=pow(a[j],i)
  ans.append(c)
  j=j+1
summ=0
for i in ans:
  summ=summ+i
print(summ)

0

In [ ]:
import numpy as np 
a=-582109
num=np.abs(a)
a=str(a)
a=list(a)

if a[0] is '-':
  a.remove('-')
  l=len(a)
  j=0
  new=[]
  for i in range(l):
    j=j+1
    a[i]=int(a[i])
    c=pow(a[i],j)
    new.append(c)
  tot=0
  for i in new:

    tot=tot+i
  tot=str(tot)
  print('-'+tot)

-531519

In [ ]:
def add_digits(string):
    result = 0
    for i in range(len(string)):
        for char in string[i:]:
            result += int(char)
    return result

print(add_digits("582109"))

85

In [ ]:
a="582109"
for i in a[i:]:
  print(i)

5
8
2
1
0
9

In [ ]:
# Encoding 3 strings 

def divide(s):

  rem=len(s)%3
  div=len(s)//3
  l=len(s)

  first=""
  middle=""
  last=""

  if rem==1:
    
    first=s[0:div]
    middle=s[len(first):len(first)+div+rem]
    last=s[len(first)+len(middle):l]

  elif rem==2:
    first=s[0:div+1]
    middle=s[len(first):len(first)+div]
    last=s[len(first)+len(middle):l]

  elif rem==0:
    first=s[0:div]
    middle=s[len(first):len(first)+div]
    last=s[len(first)+len(middle):l]
  
  ans=[]
  ans.append(first)
  ans.append(middle)
  ans.append(last)

  return ans

  



a=[]
for i in range(3):
  n=input()
  a.append(n)

a1=a[0]
a2=a[1]
a3=a[2]




A1=divide(a1)
A2=divide(a2)
A3=divide(a3)

"""
Output1=FRONT part of Input1 + FRONT part of Input2 + FRONT part of input3
Output2= MIDDLE part of Input1 + MIDDLE part of Input2 + MIDDLE part of input3
Output3= END part of Input1 + END part of Input2 + END part of input3


Output1= “JJoJan”
Output2=”ohhard”
Output3=“ NNYHAN”
"""

ans1=A1[0]+A2[0]+A3[0]
ans2=A1[1]+A2[1]+A3[1]
ans3=A1[2]+A2[2]+A3[2]

#ans1=ans1.swapcase()
#ans2=ans2.swapcase()
ans3=ans3.swapcase()


print(ans1,ans2,ans3)

John
Johny
Janardhan
JJoJan ohhard NNYHAN

In [ ]:

def split_dig(a):
  a=str(a)
  a=list(a)
  new=[]
  for i in a:
    i=int(i)
    new.append(i)
  return new



# work.sort(reverse=False) 

a1=190
a2=267
a3=853

A1=split_dig(a1)
A2=split_dig(a2)
A3=split_dig(a3)

unit=[A1[2],A2[2],A3[2]]
tens=[A1[1],A2[1],A3[1]]
hundred=[A1[0],A2[0],A3[0]]

min_unit=min(unit)
min_tens=min(tens)
min_hundred=min(hundred)

max_unit=max(unit)
max_tens=max(tens)
max_hundred=max(hundred)

thousand=max([max_unit,max_tens,max_hundred])


min_unit=min(unit)
min_tens=min(tens)
min_hundred=min(hundred)

Ans=str(thousand)+str(min_hundred)+str(min_tens)+str(min_unit)
Ans

[1, 9, 0] [2, 6, 7] [8, 5, 3]

'9150'

In [ ]:
# Weight of string
input1="Hello World"
input2=1

def chk(s):
  t=""
  for i in s:
    if (i>='a' and i<='z' or (i>='A' and i<='Z')):
      t=t+i
  
  return t

input1=input1.replace(" ","")
input1=chk(input1)
input1=input1.lower()

test=list(input1)
weight=dict()
alpha=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

for i,x in enumerate(alpha,start=1):
  weight[x]=i
vowels=['a','e','i','o','u']
w_vow=weight.copy()

# please be careful this has print since it is not inside function
if input2==0:
  for i,x in enumerate(alpha,start=1):
    if x in vowels:
      w_vow[x]=0
  new=[]
  for i in test:
    c=w_vow.get(i)
    new.append(c)
  summ=0
  for i in new:
    summ=summ+i
  print(summ)
  #return summ
else:
  new=[]
  
  for i in test:
    
    c=weight.get(i)
    new.append(c)
  summ=0
  for i in new:
    summ=summ+i
  print(summ)
  #return summ

124

In [ ]:
# do even or odd
a=[10,20,30,40,'Even']
a.pop()

'Even'

In [ ]:
a

[10, 20, 30, 40]

In [ ]:
# no of non repeated digits 


import numpy as np

def split_digg(a):
  a=np.abs(a)
  a=str(a)
  a=list(a)
  new=[]
  for i in a:
    i=int(i)
    new.append(i)
  
  return new      # int not string so dont worry 

input11=split_digg(-108)

ans=0

for i in input11:
  if input11.count(i) ==1:
    ans=ans+1
    
print(ans)

3